In [1]:
!pip install yfinance==0.1.67
!pip install beautifulsoup4
!pip install nbformat==4.2.0
!pip install plotly==5.13.1
!pip install html5lib

Requirement already satisfied: yfinance==0.1.67 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.1.67)
Requirement already satisfied: multitasking>=0.0.7 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from yfinance==0.1.67) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from yfinance==0.1.67) (1.20.3)
Requirement already satisfied: requests>=2.20 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from yfinance==0.1.67) (2.25.1)
Requirement already satisfied: pandas>=0.24 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.3)
Requirement already satisfied: lxml>=4.5.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2021.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.5)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2.10)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.15.0)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: nbformat==4.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (4.2.0)
Requirement already satisfied: jupyter-core in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from nbformat==4.2.0) (4.12.0)
Requirement already satisfied: traitlets>=4.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from nbformat==4.2.0) (5.9.0)
Requirement already satisfied: ipython-genutils in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from nbformat==4.2.0) (4.17.3)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.19.3)
Requirement already satisfied: importlib-metadata in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.0.1)
Requirement already satisfied: typing-extensions in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (3.7.4.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (5.12.0)
Requirement already satisfied: attrs>=17.4.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (22.2.0)
Requirement already satisfied: zipp>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (3.4.1)
Requirement already satisfied: plotly==5.13.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (5.13.1)
Requirement already satisfied: tenacity>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from plotly==5.13.1) (8.2.2)
Requirement already satisfied: html5lib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.1)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from html5lib) (1.15.0)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
tesla = yf.Ticker("TSLA")

In [17]:
tesla_full_data = tesla.history(period="Max")

In [20]:
tesla_full_data.reset_index(inplace = True)
tesla_full_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla_data = requests.get(url).text

In [5]:
soup = BeautifulSoup(tesla_data,"html.parser")

In [6]:
tesla_df = pd.DataFrame(columns=['Date','Revenue'])

In [8]:
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    rev = col[1].text
    tesla_df = tesla_rev.append({
        "Date": date,
        "Revenue":rev
    },ignore_index=True)
tesla_df.head()

         Date  Revenue
0  2022-09-30  $21,454
1  2022-06-30  $16,934
2  2022-03-31  $18,756
3  2021-12-31  $17,719
4  2021-09-30  $13,757

In [9]:
tesla_df["Revenue"] = tesla_df["Revenue"].replace(r"\$|,","",regex=True)

In [10]:
tesla_df.head()

         Date Revenue
0  2022-09-30   21454
1  2022-06-30   16934
2  2022-03-31   18756
3  2021-12-31   17719
4  2021-09-30   13757

In [26]:
df3 = tesla_full_data.assign(Revenue = tesla_df['Revenue'])
df3.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Revenue
3192,2023-03-06,198.539993,198.600006,192.300003,193.809998,128100100,0,0.0,NaN
3193,2023-03-07,191.380005,194.199997,186.100006,187.710007,148125800,0,0.0,NaN
3194,2023-03-08,185.039993,186.500000,180.000000,182.000000,151897800,0,0.0,NaN
3195,2023-03-09,180.250000,185.179993,172.509995,172.919998,170023800,0,0.0,NaN
3196,2023-03-10,175.130005,178.289993,168.440002,173.440002,191007900,0,0.0,NaN

NameError: name 'make_graph' is not defined

In [11]:
gme = yf.Ticker('GME')

In [22]:
gme_data = gme.history(period = 'Max')

In [28]:
gme_data.reset_index(inplace = True)
gme_data.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5300,5300,2023-03-06,18.520000,19.500000,18.520000,18.650000,2815300,0.0,0.0
5301,5301,2023-03-07,18.540001,18.840000,18.059999,18.059999,2375300,0.0,0.0
5302,5302,2023-03-08,18.049999,18.379999,17.629999,18.170000,3277800,0.0,0.0
5303,5303,2023-03-09,18.070000,18.379999,17.480000,17.520000,2652600,0.0,0.0
5304,5304,2023-03-10,17.530001,17.770000,16.850000,17.250000,2835800,0.0,0.0

In [12]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

html_data  = requests.get(url).text
soup = BeautifulSoup(html_data,"html.parser")

In [13]:
gme_df = pd.DataFrame(columns=["Date","Revenue"])

In [14]:
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    rev = col[1].text
    gme_df = gme_df.append({
        "Date": date,
        "Revenue":rev
    },ignore_index=True)
gme_df.head()

         Date Revenue
0  2020-04-30  $1,021
1  2020-01-31  $2,194
2  2019-10-31  $1,439
3  2019-07-31  $1,286
4  2019-04-30  $1,548

In [15]:
gme_df["Revenue"] = gme_df["Revenue"].replace(r"\$|,","",regex=True)

In [29]:
gme_df.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

In [27]:
df4 = gme_data.assign(Revenue = gme_df['Revenue'])
df4.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Revenue
5300,2023-03-06,18.520000,19.500000,18.520000,18.650000,2815300,0.0,0.0,NaN
5301,2023-03-07,18.540001,18.840000,18.059999,18.059999,2375300,0.0,0.0,NaN
5302,2023-03-08,18.049999,18.379999,17.629999,18.170000,3277800,0.0,0.0,NaN
5303,2023-03-09,18.070000,18.379999,17.480000,17.520000,2652600,0.0,0.0,NaN
5304,2023-03-10,17.530001,17.770000,16.850000,17.250000,2835800,0.0,0.0,NaN

In [36]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [37]:
make_graph(tesla_full_data,tesla_df,"Tesla")

AttributeError: 'DataFrame' object has no attribute 'Close'

In [40]:
stock_data_specific = tesla_rev[tesla_rev.Date <= '2021--06-14']

In [43]:
print(stock_data_specific.astype("float"))

ValueError: could not convert string to float: '2020-12-31'